.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    justify-content: space-between;
    width: 720px;
    background-color: rgba(28, 28, 33, 1);
    border-radius: 40px;
    z-index: 1000;
}

.icon{
    margin-top: 65px;
    margin-right: 40px;
    cursor: pointer;
}


.children{
    margin-left: 20px;
    flex-basis: 540px;
    flex-grow: 1;
}


