.modal{
    position: relative;
    display: flex; 
    justify-content: space-between;
    width: 720px;
    height: 539px;
    background-color: rgba(28, 28, 33, 1);
    border-radius: 40px;
}

.icon{
    margin-top: 65px;
    margin-right: 40px;
}

.children{
    margin-left: 80px;
}

