.header{
    margin: 0 0;
    background-color: rgba(28, 28, 33, 1)
    }
    
    .nav{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px 0;
    margin-block-start: 0;
    }
    
    .nav__item{
    display: flex;
    cursor: pointer;
    }
    
    .div{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    }
    
    .logo{
    display: flex;
    margin-right: 200px;
    }